/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Your custom styles go here */
html {
  scroll-behavior: smooth;
}

.ant-btn-primary {
  background-color: #1DA57A !important; 
  border-color: #1DA57A !important; 
}


.ant-btn-primary {
  color: white !important; 
}


.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #189057 !important; 
  border-color: #189057 !important; 
  color: #fff !important; 
}

.ant-btn-primary:active {
  background-color: #156945 !important;
  border-color: #156945 !important;
}